.vcp-player {
    position: relative;
    z-index: 0;
    font-family: Helvetica;
    background-color: black;
}
.vcp-fullscreen.vcp-player, .vcp-fullscreen video {
    width: 100%!important;
    height: 100%!important;
}
/* 伪全屏 */
body.vcp-full-window {
    width: 100%!important;
    height: 100%!important;
    overflow-y: auto;
}
.vcp-full-window .vcp-player {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}

.vcp-controls-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    height: 3em;
    z-index: 1000;
}
.vcp-panel-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(36, 36, 36);
    opacity: 0.8;
    z-index: 1000;
}

.vcp-playtoggle {
    cursor: pointer;
    position: relative;
    z-index: 1001;
    width: 3em;
    height: 100%;
    float: left;
    background-image: url(/src/img/play_btn.png);
    background-image: url(/src/img/play_btn.svg), none;
}
.vcp-playtoggle:hover {
    background-color: slategray;
    opacity: 0.9;
}
.vcp-playing .vcp-playtoggle {
    background-image: url(/src/img/stop_btn.png);
    background-image: url(/src/img/stop_btn.svg), none;
}

.vcp-slider {
    position: relative;
    z-index: 1001;
    float: left;
    background: rgb(196, 196, 196);
    height: 10px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    opacity: 0.8;
}
.vcp-slider .vcp-slider-track {
    width: 0%;
    height: 100%;
    margin-top: 0;
    opacity: 1;
    background-color: slategray;
    border-radius: 10px;
    display: none;
}
.vcp-slider .vcp-slider-thumb {
    cursor: pointer;
    background-color: white;
    position: absolute;
    top: -1px;
    left: 0;
    border-radius: 1em;
    height: 12px;
    margin-left: -9px;
    width: 18px;
}
.vcp-slider-vertical {
    position: relative;
    width: 0.5em;
    height: 10em;
    top: -7em;
    z-index: 1001;
    background-color: rgb(28, 28, 28);
    opacity: 0.9;
}
.vcp-slider-vertical .vcp-slider-track {
    background-color: rgb(18, 117, 207);
    width: 0.5em;
    height: 100%;
    opacity: 0.8;
}
.vcp-slider-vertical .vcp-slider-thumb {
    cursor: pointer;
    position: absolute;
    background-color: aliceblue;
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.8em;
    margin-top: -0.4em;
    top: 0;
    left: -0.15em;
}
/* 时间线/进度条 */
.vcp-timeline {
    top: 18px;
    height: 12px;
    position: relative;
    z-index: 1001;
    float: left;
    width: 65%;
}
.vcp-timeline .vcp-slider {
    float: left;
    width: 80%;
}
.vcp-timeline .vcp-slider-track {
    display: block;
}
.vcp-timeline .vcp-timeline-label {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    width: 10%;
    float: left;
    color: white;
    padding-left: 9px;
}
/* 音量控制 */
.vcp-volume {
    height: 48px;
    width: 48px;
    cursor: pointer;
    position: relative;
    z-index: 1001;
    float: right;
    background-color: transparent;
    opacity: 0.9;
}
.vcp-volume-icon {
    background-image: url(/src/img/volume.png);
    background-image: url(/src/img/volume.svg), none;
    display: inline-block;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
}
.vcp-volume-muted .vcp-volume-icon {
    background-image: url(/src/img/muted.png);
    background-image: url(/src/img/muted.svg), none;
}
.vcp-volume .vcp-slider-vertical {
    top: -10.4em;
    left: 1em;
    display: none;
}
.vcp-volume .vcp-slider-track {
    position: absolute;
    bottom: 0;
}
.vcp-volume:hover .vcp-slider-vertical {
    display: block;
}
.vcp-volume .vcp-volume-bg {
    height: 10.8em;
    width: 2em;
    position: absolute;
    left: 0.25em;
    top: -10.8em;
    background: rgb(36,36,36);
    display: none;
}
.vcp-volume:hover .vcp-volume-bg, .vcp-volume:hover .vcp-slider-vertical {
    display: block;
}
/* 全屏控件 */
.vcp-fullscreen-toggle {
    position: relative;
    width: 48px;
    height: 48px;
    float: right;
    cursor: pointer;
    z-index: 1001;
    background-image: url(/src/img/fullscreen.png);
    background-image: url(/src/img/fullscreen.svg), none;
}
.vcp-fullscreen .vcp-fullscreen-toggle {
    background-image: url(/src/img/fullscreen_exit.png);
    background-image: url(/src/img/fullscreen_exit.svg), none;
}